name: Deploy Kafka Topics to Aiven

on:
  push:
    paths:
      - .topic/**

jobs:
  # ----------------------------- #
  # ------- setup matrix -------- #
  # ----------------------------- #

  setup-matrix:
    name: Setup Matrix
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout v5.0.1
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 2

      # set matrix
      - name: Set Matrix
        id: set-matrix
        run: |
          # Get the list of changed topics
          MATRIX=$(git diff-tree --diff-filter=d --no-commit-id --name-only -r ${{ github.event.before }} ${{ github.sha }} | grep .topic/ | cut -d '/' -f 2- | sort -u | paste -d',' -s)
          echo "----------------------------"

          # if no changed topics
          if [[ -z "${MATRIX// }" ]]; then
            echo "No topics were changed"
            echo "emptyMatrix=true" >> $GITHUB_OUTPUT
            echo "matrix=[]" >> $GITHUB_OUTPUT
          else
            JSON=$(jq -c -n --arg v "$MATRIX" '[($v|split(","))[] | {namespace: .|split("/")[0], environment: .|split("/")[1], topic: .|split("/")[2] | split(".")[0]}]')

            echo "Changed topics: $MATRIX"
            echo "JSON matrix: $JSON"

            echo "matrix=$JSON" >> $GITHUB_OUTPUT
            echo "emptyMatrix=false" >> $GITHUB_OUTPUT
          fi
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      emptyMatrix: ${{ steps.set-matrix.outputs.emptyMatrix }}

  # ----------------------------- #
  # -------- deploy topics ------ #
  # ----------------------------- #

  deploy-topics:
    name: Deploy ${{ matrix.target.namespace }}.${{ matrix.target.topic }} in ${{ matrix.target.environment }}
    needs: setup-matrix
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    if: needs.setup-matrix.outputs.emptyMatrix == 'false'
    strategy:
      matrix:
        target: ${{ fromJson(needs.setup-matrix.outputs.matrix) }}
    steps:
      - name: Checkout v5.0.1
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      # Set cluster based on environment
      - name: Set Cluster
        run: |
          if [ ${{ matrix.target.environment }} == 'dev' ]; then
            echo "cluster=dev-gcp" >> $GITHUB_OUTPUT
          elif [ ${{ matrix.target.environment }} == 'prod' ]; then
            echo "cluster=prod-gcp" >> $GITHUB_OUTPUT
          else
            echo "Unknown environment: ${{ matrix.target.environment }}"
            exit 1
          fi
        id: set-cluster

      # deploy to appropriate cluster
      - name: Deploy to Cluster
        uses: nais/deploy/actions/deploy@21af204a4d63d1c10d149916d96669d5c2fa6f76 # v2
        env:
          CLUSTER: ${{ steps.set-cluster.outputs.cluster }}
          RESOURCE: .topic/${{ matrix.target.namespace }}/${{ matrix.target.environment }}/${{ matrix.target.topic }}.yaml
          PRINT_PAYLOAD: true
