name: Test/Build/Deploy

on:
  workflow_call:
    inputs:
      DEPLOY_APP:
        required: true
        type: string
      DEPLOY_CLUSTER:
        required: true
        type: string
      DEPLOY_NAMESPACE:
        required: true
        type: string
jobs:
  run-info:
    name: >- # Displays inputs as name on job
      ${{ inputs.DEPLOY_APP }} - ${{ inputs.DEPLOY_CLUSTER }} - ${{ inputs.DEPLOY_NAMESPACE }}
    runs-on: ubuntu-latest
    steps:
      - name: Dump github context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
  test:
    name: Run tests
    needs: run-info
    runs-on: ubuntu-latest
    steps:
      - name: Checkout v5.0.1
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup java v5.0.0
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v.5.0.0
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Build and run tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew test
  build:
    name: Build and push Docker container
    needs: test
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    outputs:
      image: ${{ steps.docker-push.outputs.image }}
    steps:
      - name: Checkout v5.0.1
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup java v5.0.0
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v.5.0.0
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Setup Gradle v5.0.0
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2
        with:
          cache-disabled: true
          dependency-graph: generate-and-submit
      - name: Build JAR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew clean build shadowJar -x test
      - name: Nais Docker Build Push
        uses: nais/docker-build-push@1fae4798c79f4af4c3cdbd3fe65e51f8f3ba2368
        id: docker-push
        with:
          team: ${{ inputs.DEPLOY_NAMESPACE }}
#      - name: Create image URL artifact
#        run: echo "${{ steps.docker-push.outputs.image }}" > ./imageUrl.txt
#      - uses: actions/upload-artifact@v4
#        with:
#          name: imageUrl
#          path: ./imageUrl.txt

  setup-matrix:
    name: Set up matrix for deployment
    needs: test
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up matrix
        id: set-matrix
        run: |
          if [ "${{ inputs.DEPLOY_APP }}" == "ALL" ]; then
            apps=$(find ./.nais -name "${{ inputs.DEPLOY_CLUSTER }}.yaml" -not -path "*/default/*" -exec dirname {} \; | xargs -n 1 basename)
            matrix_config=$(printf '%s\n' "$apps" | jq -R -s -c 'split("\n")[:-1] | map({app: .})')
          else
            matrix_config=$(printf '%s\n' "${{ inputs.DEPLOY_APP }}" | jq -R -s -c 'split("\n")[:-1] | map({app: .})')
          fi
          echo "Matrix config ${matrix_config}"
          echo "matrix=$matrix_config" >> $GITHUB_OUTPUT
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
  deploy:
    name: Deploy ${{ matrix.target.app }} to ${{ inputs.DEPLOY_CLUSTER }} - ${{ inputs.DEPLOY_NAMESPACE}}
    needs: [ build, setup-matrix ]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: ${{ fromJson(needs.setup-matrix.outputs.matrix) }}
    steps:
      - name: Checkout v5.0.1
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Merge YAML
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew mergeYamlTask
      - name: Deploy ${{ matrix.target.app }} to ${{ inputs.DEPLOY_CLUSTER }}
        uses: nais/deploy/actions/deploy@21af204a4d63d1c10d149916d96669d5c2fa6f76 # v2
        env:
          CLUSTER: ${{ inputs.DEPLOY_CLUSTER }}
          RESOURCE: .nais/${{ matrix.target.app }}/target/${{ inputs.DEPLOY_CLUSTER }}.yaml
          VAR: image=${{ needs.build.outputs.image }},DEPLOY_APP=${{ matrix.target.app }},DEPLOY_CLUSTER=${{ inputs.DEPLOY_CLUSTER }}
